.card-container {
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    .cocktail-name {
        position: relative;
        .cocktail-img {
            height: 200px;
            width: 200px
        }
        div {
            color: white;
            position: absolute;
            right: 40%;
        }

    }
}