.container {
    .card-container {
      display: flex;
      justify-content: center;
      column-gap: 100px;
  
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
          display: block;
      }
      .cocktail-name {
        color: white;
        margin-top: 50px;
        text-align: center;
        cursor: pointer;
        position: relative;
        .cocktail-img {
          height: 200px;
          width: 200px;
          border-radius: 5px;
        }
        div {
          position: absolute;
          right: 40%;
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
              right: 45%
          }
        }
      }
    }
  }
  