.cocktails-list {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 100px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        display: block;
        width: auto;
    }
}

.filters {
    width: 150px;
    position: absolute;
    right: 0;
    margin-right: 35px;
    margin-top: 25px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.filters-label {
    position: absolute;
    right: 0;
    margin-right: 125px;
    color: white;
}

.non-alcoholic-drinks {
    color: white;
    font-size: 48px;
}